[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-cors-middleware = "*"
mysql-client = "*"

[dev-packages]

[requires]
python_version = "3.9"
